{% extends 'registration/base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<h1>LOGIN</h1>

{% if form.errors %}
    <p> El usuario no concuerda con la clave, intente denuevo</p>
{% else %}
    <p>Por favor, ingrese sus datos en el siguiente formulario</p>
{% endif %}
<div class="login-form">
<form action="." method="post">
    {{form.as_p}}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{next}}"/>
    <p><input type="submit" value="Log-in"></p>

</form>
</div>
{% endblock %}